/* Adding the Oswald-Font */
/* Normal font */
@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Bold font */
@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Light font */
@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Adding the FugazOne font */
@font-face {
  font-family: 'FugazOne';
  src: url('/fonts/FugazOne/FugazOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Set base font size (1rem = browser default, usually 16px) */
html {
  font-size: 1rem;
}

/* Define SCSS Variables */
$default-font: 'Oswald', system-ui, Avenir, Helvetica, Arial, sans-serif;
/* TODO: Set text and background color to a value from the color palette */
$default-color: #343109; /* Define default text color*/
$default-bg: #dac4cb; /* Define default background color */
$contrast-dark: #5A3866;
$contrast-light: #ecdcb3;

/* Applies base layout and font styling to the whole document body */
:root {
  line-height: 1.5; /* Define spacing between lines (good for readability) */
  font-weight: 600; /* Define regular font weight */

  color: $default-color; /* Apply var as text color */
  background-color: $default-bg; /* Apply var as background color */

  font-synthesis: none; /* Prevents the browser from faking bold or italic fonts */
  text-rendering: optimizeLegibility; /* Improves text rendering (ligatures, kerning) */
  -webkit-font-smoothing: antialiased; /* Smooths fonts on macOS/Chrome */
  -moz-osx-font-smoothing: grayscale; /* Similar smoothing for Firefox on macOS */

  /* Improved font displaying e.g. fi doesn't merge together*/
  font-feature-settings: "liga" 0;
  font-variant-ligatures: none;
}

/* Takes effect in the visible part of the document (unless overwritten) */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
  min-width: 320px;
  min-height: 100vh;

  font-family: var(--default-font);
  font-weight: 600;
  font-style: normal;
  color: var(--default-color);
  background-color: var(--default-bg);
}

/** Accessibility (Reduce Motion Respect) */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* Define how something should look if it is selected by the user (e.g. via mouse) */
::selection {
  background: #965fab;
  color: $default-color;
}

/* Important to prevent margin/padding from blowing up layout sizes */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Div that contains the entire app */
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Has to be at least 16px, lese iOS zooms in automatically */
input, textarea, select {
  font-size: 16px;
}

/*--------------------------------------------------------------------------------------------*/
/* Don't modify styles above unless certain */
/*--------------------------------------------------------------------------------------------*/

button {
    min-width: 6rem;
    min-height: 3rem;
    background-color: #856084;
    border-color: $contrast-dark;
    border-radius: 0.5rem;
    color: $contrast-light;
    margin: 1rem;
    font-size: 1.2rem;
}

h1 {
  font-family: 'FugazOne', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
    font-family: 'FugazOne', sans-serif;
    font-weight: 600;
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

h3 {
    font-family: 'FugazOne', sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
}

@mixin text($font-weight) {
    font-family: 'Oswald';
    font-weight: $font-weight;
    font-size: 1.4rem;
}

p {
    @include text(500);
    margin-bottom: 1rem;
}

li {
  @include text(500);
  margin: 0;
}

ul {
  /* TODO: Add bottles instead of dots*/
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="password"] {
    height: 2.2rem;
    background-color: $contrast-light;
    color: $contrast-dark;
    border: 1px solid $contrast-dark;
    outline: none;
    padding: 0 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.25rem;
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    font-family: 'Oswald', ;
    margin: 0.3rem;
}

input[type="checkbox"] {
  accent-color: #965fab;
  width: 1.2rem;
  height: 1.2rem;
}

label {
  @include text(500);
}

input[type="number"] {
  /* TODO: Add styles */
}

.title {
  font-family:'FugazOne', sans-serif;
}